<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>apigoogle</name>
	<displayName><![CDATA[daadz]]></displayName>
	<version><![CDATA[dzazddaz]]></version>
	<description><![CDATA[dazazd]]></description>
	<author><![CDATA[zadaz]]></author>
	<tab><![CDATA[Administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>